@()
<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link" href="@routes.StudentController.create">Add student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.QuizResultController.create">Capture student score</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.StudentController.index">View list of students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.StudentController.search">Find a student</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">Quiz capturing</h3>
</div>
